canvas {
    /*border: 1px solid black;*/
}
.input-container {
    margin-bottom: 10px;
}
input.sub {

    width: 5em;
}

.groups{
    margin-top: 100px;
}

#substituents-input {

}

.sub {

    display: inline;

}
.column {
    width: 45%;
    text-align: center;
    border: 1px;

}

.container {
    display: flex;
    margin: auto;

}
