canvas.zigzagCanvas {
    padding-right: 50px;
}
.input-container {
    margin-bottom: 10px;
}
input.sub {

    width: 5em;
}

.groups{
    margin-top: 50px;
}

#substituents-input {

}


.column {
    width: 30%;
    text-align: center;
    flex: 1 1 300px;
}

.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-flow: row wrap;
}
